
/* General background for Widgets */
QWidget {
    background-color: #204a87;
    color: white;
}

/* The status label at the top of the screen */
QLabel[accessibleName="statusLabel"] {
    font: bold 32px;
    text-align: center;
    color: #004579;
    background-color: #DEDEDE;
}

/* A warning label that blinks to inform the user not to power off */
QLabel[accessibleName="warningLabel"] {
    font: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #D0423D;
}

/* The tag for the application version */
QLabel[accessibleName="versionLabel"] {
    font: bold 18px;
    color: black;
}

/* The application version itself */
QLabel[accessibleName="versionValueLabel"] {
    font: 18px;
    color: black;
}

/* The progress bar frame */
QProgressBar {
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}

QProgressBar::text:highlight {
    color: #204a87;
}

/* The progress bar itself */
QProgressBar::chunk {
    color: #204a87;
    background-color: #FFFFFF;
    width: 24px;
/*    margin: 2px;*/
}
